<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notices</title>
</head>
<body>
    <H1>Notices</H1>
    <% for(let e of notices) { %>
        <ul>
            <div>Title : <%= e.title %></div>
            <div>Description : <%= e.description %></div>
            <div>Author : <%= e.author %></div>
            <div><%= e.important %></div>
        </ul>
        <form action="/notices/<%=e.id%>">
            <button>View</button>
        </form>
    <% } %>
    <br><br>
    <div>
       <a href="/notices/new">New notices</a> 
    </div>
    
</body>
</html>