<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Notices</title>
</head>
<body>
    <H1>Notices</H1>
    <% for(let e of notices) { %>
        <div class="box">
            <div>Title : <%= e.title %></div>
            <div>Description : <%= e.description %></div>
            <div>Author : <%= e.author %></div>
            <div><%= e.important %></div>
            <form action="/notices/<%=e.id%>">
            <button>View</button>
            </form>
        </div>
    <% } %>
    <div>
       <a class="new" href="/notices/new">New notices</a> 
    </div>
    
</body>
</html>