<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    <title>Single notice</title>
</head>
<body>

<div class="home_btn">
    <a href="/notices">←Home</a>        
</div>

 <div class="box">
    <div class="info" >
        <h2><strong>Title : </strong><%= data.title %></h2>
        <p><strong>Description : </strong><%= data.description %></p>
        <p><strong>Author : </strong><%= data.author %></p>
        <div>
        <form  
            class="check"
            action="/notices/<%=data.id%>/important?_method=PATCH" method="post"
            >
                <label for="check"><strong>Important: </strong></label>
                <input 
                    type="checkbox" 
                    name="important"
                    id="check"
                    onclick="this.form.submit()"
                    <%= data.important ? "checked" : "" %>
                >
            </form>
        </div>
    </div>
    
    <div class="imp"> <%=data.important ? "Important" : ""%></div>

    <div class="btns">

         
        

        <form action="/notices/<%=data.id%>/edit" method="get">
            <button><pre> Edit </pre></button>
        </form>

        <form action="/notices/<%=data.id%>?_method=DELETE" method="post">
            <button><pre> Delete </pre></button>
        </form>       
    </div>    
 </div>

</body>
</html>