<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    <title>Single notice</title>
</head>
<body>

<div class="home_btn">
    <a href="/notices">←Home</a>        
</div>

 <div class="box">
    <div class="info" >
        <h2><strong>Title : </strong><%= data.title %></h2>
        <p><strong>Description : </strong><%= data.description %></p>
        <p><strong>Author : </strong><%= data.author %></p>
        <p><strong>Important: </strong><%=data.important ? "Yes" : "No" %>
        </p>
    </div>
    <div class="btns">

        <form action="/notices/<%=data.id%>/important?_method=PATCH" method="post">
            <button>Swtich</button>
        </form>   

        <form action="/notices/<%=data.id%>/edit" method="get">
            <button>Edit</button>
        </form>

        <form action="/notices/<%=data.id%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>       
    </div>    
 </div>

</body>
</html>